{% assign content = include.content %}

{% assign sections = content | split: "" | array_filter %}

{% for section in sections %}
  
  {% assign dark = section | regex_scan: "<dark>(.*?)</dark>" | join: "" | append: "" %}
  {% if dark contains "<" %}{% assign dark = "" %}{% endif %}

  {% assign image = section | regex_scan: "<background>(.*?)</background>" | join: "" | append: "" %}
  {% if image contains "<" or image == "" %}
    {% assign image = nil %}
  {% endif %}

  {% assign size = section | regex_scan: "<size>(.*?)</size>" | join: "" | append: "" %}
  {% if size contains "<" or size == "" %}
    {% assign size = "page" %}
  {% endif %}

  <section
    class="background"
    data-size="{{ size }}"
    {% if dark == "true" or dark == "false" %}
      data-dark="{{ dark }}"
    {% endif %}
    {% if image %}
      style="--image: url('{{ image | relative_url | uri_escape }}')"
    {% endif %}
  >
    {{ section }}
  </section>
{% endfor %}
