---
layout: default
---

{% capture floatcontent %}

{% include portrait.html lookup=page.slug %}

<div>
  {% for link in page.links %}
    {% assign key = link[0] %}
    {% assign value = link[1] %}
    {% include button.html type=key link=value style="bare" %}<br>
  {% endfor %}
</div>

{% endcapture %}

{% include float.html content=floatcontent %}

{{ content }}

{% assign aliases = page.aliases | default: page.name | default: page.title | join: "," | split: "," | array_filter %}

{% assign search_terms = "" %}
{% for alias in aliases %}{% assign search_terms = search_terms | append: '"' | append: alias | append: '" ' %}{% endfor %}
{% assign search_url = "research/?search=" | append: search_terms | relative_url | uri_escape %}

<p class="center">
  <a href="{{ search_url }}">
    Search for {{ page.name | default: page.title }}'s papers on the Research page
  </a>
</p>

<!--
<p class="center">
  <a href="{{ "blog/?search=" | append: page.name | relative_url | uri_escape }}">
    See {{ page.name | default: page.title }}'s posts on the Blog page
  </a>
</p>
-->
